@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1280px;
    margin: auto;
}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

html {
    --text-color: #3936c4;
    --font-family--: "Poppins", sans-serif;
    --header-color--: #FFFCF5;
    --primary-font: "Poppins", sans-serif;
    --text-p-color: #545360;

}

body {
    font-family: var(--primary-font)
}

.costom_button {
    border-radius: none;
    background-color: var(--text-color);
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 8px;
    line-height: 30px;
    text-align: center;
    width: 170px;
    height: 60px;

}

/* header section stated */

.header_color {
    background-color: var(--header-color--);
}

navbar {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.navberMenu {
    gap: 40px;
    display: flex;
    flex-direction: row;
}

.navberMenu a {
    font-size: 16px;
    font-weight: 600;
    color: #6A6E78;
}

.navberLogin {
    font-size: 16px;
    font-weight: 600;
    color: #6A6E78;
    margin-right: 16px;
}

.navberSignup {
    font-size: 16px;
    font-weight: 600;
    color: #6A6E78;
    border: 1.4px solid #E1E5E8;
    background-color: #FFFCF5;
    padding: 8px 15px;
    border-radius: 5px;
}

.navberMenu .active {
    color: var(--text-color);
}

banner {
    display: flex;
    padding: 40px 0;
}

.bannerLeft {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    align-items: start;
    justify-content: center;
}

.bannerLeft h1 {
    font-size: 70px;
    font-weight: 600;
    line-height: 80px;
}

.bannerLeft p {
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0;
    color: #545360;
    ;
}

.bannerLeft button {
    border-radius: none;
    background-color: var(--text-color);
    border: none;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 8px;
}

.bannerRight {
    flex-basis: 50%;
}

.bannerRight img {
    text-align: center;
}

/* header section end */

.associated_section h2 {
    font-size: 32px;
    font-weight: 700;
    padding: 50px 0px 50px 0px;
    text-align: center;
}

.associated-items {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 50px;
}

/* Associated with section end */

/* works section stated */

.work_header {
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    padding: 50px 0 30px 0;
}

.work_title {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #545360;
}

.works_card_main_div {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 40px 0;
}

.works_card_main_div .active {
    background-color: #dfe4ea
}

.works_card_main_div .active a {
    color: #3936C4;

}

.worksCard {
    border: 1px solid #E4E4ED;
    text-align: start;
    padding: 40px;
    border-radius: 5px;
}

.worksCard h3 {
    margin: 20px 0;
    font-size: 24px;
    font-weight: 600;
}

.worksCard p {
    padding: 18px 0;
    color: var(--text-p-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;

}

.worksCard a {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    color: black;
}

/* Dream job section stated */
.dreamJob {
    display: flex;
    /* border: 1px solid green; */
    gap: 80px;
    margin: 140px 0;
}

.dreamJobTitle {
    flex-basis: 50%;
    /* border: 1px dotted brown; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.dreamJobTitle h2 {
    font-size: 42px;
    font-weight: 600;
    line-height: 52px;
    color: #21202A;
}

.dreamJobTitle p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #545360;
    margin: 18px 0 28px 0;
}

.jobItms {
    margin-bottom: 38px;
}

.dreamJobTitle span {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #21202A;
    margin-left: 8px;
}

.dreamJobTitle i {
    color: #8A5CD7;
    font-size: 20px;
}

.dreamJobImg {
    flex-basis: 50%;
    /* border: 1px dotted rgb(63, 42, 165); */
}

.dreamJobImg img {
    object-fit: cover;
    object-position: top;
    /* width: 100%; */

}

/* featured-jobs-section stated */

.featured_jobs_hading {
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 18px;
    color: #21202A;
    margin-bottom: 70px;

}

.featured_jobs_hading p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #545360;
}

.featured_jobs_continer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.featured_job_Box {
    height: 320px;
    border: 1px solid #E2E2EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 22px 10px 22px;
    border-radius: 12px;
}

.featured_job_Box h3 {
    font-size: 24px;
    font-weight: 600;
    text-align: left;
}

.featured_job_Box span {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.featured_job_Box .fullTime {
    margin-left: 70px;
    background-color: #ffcccc;
    color: #FF8100;
    padding: 3px 5px;
    border-radius: 5px;
}

.featured_job_Box button {
    font-size: 16px;
    font-weight: 600;
    background-color: #21202A;
    color: #FFFFFF;
    padding: 6px 15px;
    border-radius: 6px;
}

.featured_job_Box img {
    width: 54px;
    height: 54px;
    border-radius: 6px;
    object-fit: cover;
    object-position: center;
}

/* What job seekar says section stated  */

.job_seekar {
    margin: 160px 0;
}

.job_seekar_Title {
    display: flex;
    justify-content: space-between;
}

.job_seekar_Title h2 {
    font-size: 42px;
    font-weight: 600;
    text-align: start;
    margin-bottom: 18px;
    color: #21202A;
    /* margin-bottom: 18px; */
}

.job_seekar_Title p {
    font-size: 16px;
    font-weight: 400;
    text-align: start;
    color: #545360;
}

.job_seekar_Title button {
    text-align: center;
}

.job_seekar_Title_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 70px 0;
}

.job_seekar_Title_box .card {
    height: 414px;
    border: 1px solid #E2E2EB;
    padding: 22px;
    text-align: start;
    border-radius: 12px;
}

.job_seekar_Title_box .card img {
    height: 54px;
    width: 54px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
    margin: 20px 0;
}

.job_seekar_Title_box .card i {
    color: #FF8100;
    font-size: 20px;
}

.job_seekar_Title_box .card p {
    margin: 22px 0 40px 0;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 28px;
    color: #545360;
}

.job_seekar_Title_box .card h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: -20px;
}

.job_seekar_Title_box .card p {
    font-size: 14px;
    font-weight: 400;
    color: #545360;
}

/* resume section stated  */
.resume {
    height: 304px;
    background-color: #3936C4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
}

.resume h2 {
    font-size: 42px;
    font-weight: 600;
    line-height: 52px;
    text-align: left;
    color: #FFFFFF;
}

.resume button {
    height: 60px;
    width: 240px;
    background-color: #FFFFFF;
    color: #3936C4;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    border-radius: 10px;
    border: none;
}

footer {
    margin-top: 160px;
    padding-top: 200px;
    background-color: #21202A;
    height: 460px;
}

.footerTop {
    border-bottom: 1px solid #3E3C50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px dotted brown; */
}

.footerTop h2 {
    font-size: 42px;
    font-weight: 600;
    line-height: 52px;
    color: #FFFFFF;
}

.footerTop button {
    width: 267px;
    height: 72px;
    gap: 0px;
    border-radius: 6px;
    border: none;
    background-color: #3936C4;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}

.footer_menu {
    display: flex;
    flex-direction: row;
    gap: 42px;
    margin-top: 30px;
    justify-content: end;
}

.footer_menu a {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #B5BAC6;
}

/* --------------------------------------------- */
@media(max-width:1024px) {
    .container {
        overflow-x: hidden;
        padding: 0px 20px;
    }

    .navberMenu {
        gap: 20px;
    }

    .navberLogin {
        margin-right: 20px;
    }
}

@media (max-width:768px) {
    .container {
        overflow-x: hidden;
        padding: 0 20px;
    }

    .navberMenu {
        gap: 20px;
    }

    .navberLogin {
        margin-right: 20px;
    }

    .bannerLeft h1 {
        font-size: 50px;
        font-weight: 600;
        line-height: 60px;
    }

    .bannerLeft p {
        margin: 18px 0;
        font-size: 18px;
    }

    banner {
        gap: 20px;
    }

    .bannerLeft {
        flex-basis: 50%;
    }

    .bannerRight {
        flex-basis: 50%;
    }

    .bannerLeft button {
        padding: 14px 20px;
        font-size: 18px;
        font-weight: 500;
    }

    .works_card_main_div {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .dreamJob {
        flex-direction: column-reverse;
    }

    .featured_jobs_continer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .featured_jobs_hading {
        font-size: 35px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 18px;
        color: #21202A;
    }

    .job_seekar_Title_box {
        grid-template-columns: repeat(2, 1fr);
    }

    .resume {
        flex-direction: column;
    }

    .footerTop {
        flex-direction: column;
    }

    .footerTop h2 {
        text-align: center;
        margin-bottom: 40px;
    }

    footer {
        margin-top: 120px;
        padding-top: 80px;
    }

    .footerTop {
        padding-bottom: 30px;
    }

    .footer_menu {
        justify-content: center;
    }

}

@media (max-width:425px) {
    navbar {
        flex-direction: column;
    }

    .navberMenu {
        gap: 15px;
        display: flex;
        flex-direction: row;
        margin: 10px;
    }

    banner {
        gap: 50px;
        padding: 40px 10px;
        display: flex;
        flex-direction: column-reverse;
    }

    .bannerLeft {
        flex-basis: 100%;
    }

    .bannerRight {
        flex-basis: 100%;
    }

    .bannerLeft h1 {
        font-size: 40px;
        font-weight: 600;
        line-height: 50px;
    }

    .bannerLeft p {
        margin: 20px 0;
        font-size: 18px;
    }

    .bannerLeft button {
        padding: 14px 20px;
        font-size: 18px;
        font-weight: 500;
    }

    .associated_section h2 {
        padding: 30px 0 20px 0;
        border-bottom: 2px solid chartreuse;
    }

    .associated-items {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;

    }

    .associated-items img {
        object-fit: cover;
        width: 250px;
        margin: 20px 0;
        object-position: center;
    }

    .works_card_main_div {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .dreamJobTitle h2 {
        font-size: 35px;
    }


    .featured_jobs_continer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .featured_jobs_hading {
        font-size: 25px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 18px;
        color: #21202A;
    }

    .featured_jobs_hading p {
        font-size: 12px;
        font-weight: 400;
        text-align: center;
        color: #545360;
    }

    .job_seekar_Title_box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin: 70px 0;
    }

    .job_seekar_Title {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .job_seekar_Title h2 {
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 18px;

    }

    .job_seekar_Title p {
        font-size: 15px;
        font-weight: 300;
        text-align: center;
        color: #545360;
    }

    .job_seekar_Title_button {
        justify-content: center;
        margin-top: 30px;
    }

    .resume h2 {
        font-size: 30px;
        text-align: center;
    }

    .resume h2 br {
        display: none;
    }

    .footerTop h2 {
        font-size: 35px;
    }

    .footerTop h2 br {
        display: none;
    }

    .footer_menu {
        gap: 20px;
        justify-content: center;
    }

}